:root {
  --bg-color: #191b24;
  --text-base: #aaa;
  --primary-color: #ffd875;
  --primary-color-hover: #ffde8a;
  --primary-button-text: #191b24;
  --primary-text: #ffd875;
  --top-bg-default: #202331;
  --border-color: #ffffff10;
  --bg-2: #282b3a;
  --bg-3: #2f3346;
  --bg-4: #3e435c;
  --bg-5: #535d8e;
  --footer-bg: #0f111a;
  --shadow-large: 0 0 20px 20px rgba(0, 0, 0, 0.1);
  --h-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  --category-name: #fff;
  --padding-base: 40px;

  // Màu sắc mới
  --background: #191b24;
  --foreground: #ffffff;
  --primary: #191b24;
  --primary-foreground: #ffd875;
  --secondary: #1e1f29;
  --secondary-foreground: #ffffff;
  --muted: #191b24;
  --muted-foreground: #aaaaaa;
  --layout-background: #0f111a;
  --layout-foreground: #ffffff;
  --danger: #ff6c5d;

  --nav-menu-background: #3b4987;
  --nav-menu--foreground: #ffffff;
}
