@use '@/assets/styles/abstracts' as *;

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  gap: 12px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  background-color: var(--layout-background);
  padding: 12px 6px;
  width: 100%;
  color: var(--layout-foreground);
  @include breakpoint(md) {
    background-color: transparent;
  }
  &--fixed {
    background-color: var(--layout-background);
  }

  @include breakpoint(xl) {
    gap: 24px;
    padding: 16px 20px;
  }

  &__left {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    &--hidden {
      display: none;
    }
  }
}
