@use '@/assets/styles/abstracts' as *;

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  background-color: transparent;
  padding: 12px 6px;
  width: 100%;

  &--fixed {
    background-color: var(--bg-color);
  }

  @include breakpoint(xl) {
    padding: 16px 20px;
  }

  &__left {
    display: flex;
    align-items: center;

    &--hidden {
      display: none;
    }
  }
}
