@use '@/assets/styles/abstracts' as *;

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 12px 6px;

  @include breakpoint(xl) {
    padding: 16px 20px;
  }

  &__left {
    display: flex;
    align-items: center;
  }
}

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  width: 40px;
  height: 40px;

  @include breakpoint(xl) {
    display: none;
  }
}

.hamburger {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 14px;

  &__line {
    display: block;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease,
      background-color 0.3s ease;
    background-color: white;
    width: 100%;
    height: 2px;
  }

  &--active &__line {
    background-color: #ff6c5d;

    &:nth-child(1) {
      transform: translateY(6px) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: translateY(-6px) rotate(-45deg);
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 16px;
  @include breakpoint(xl) {
    margin-left: 0;
  }

  &__image {
    height: 36px;

    @include breakpoint(xl) {
      height: 40px;
    }
  }
}
