@use '@/assets/styles/abstracts' as *;

.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 6px;
  background-color: var(--bg-color);
}

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 14px;

  &__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease,
      background-color 0.3s ease;
  }

  &--active &__line {
    background-color: #ff6c5d;

    &:nth-child(1) {
      transform: translateY(6px) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: translateY(-6px) rotate(-45deg);
    }
  }
}
