@use '@/assets/styles/abstracts' as *;

.header {
  display: flex;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  background-color: transparent;
  padding: 12px 6px;
  width: 100%;

  &--fixed {
    background-color: var(--bg-color);
    & .search__input {
      background-color: color-opacity(white, 0.04);
    }
  }

  @include breakpoint(xl) {
    padding: 16px 20px;
  }

  &__left {
    display: flex;
    align-items: center;
    &--hidden {
      display: none;
    }
  }
}

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  width: 40px;
  height: 40px;

  @include breakpoint(xl) {
    display: none;
  }
}

.hamburger {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 14px;

  &__line {
    display: block;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease,
      background-color 0.3s ease;
    background-color: white;
    width: 100%;
    height: 2px;
  }

  &--active &__line {
    background-color: #ff6c5d;

    &:nth-child(1) {
      transform: translateY(6px) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: translateY(-6px) rotate(-45deg);
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 16px;
  @include breakpoint(xl) {
    margin-left: 0;
  }

  &__image {
    height: 36px;

    @include breakpoint(xl) {
      height: 40px;
    }
  }
}

.search {
  &__container {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__input {
    display: none;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    border: white 1px solid;
    border-radius: 8px;
    background-color: transparent;
    background-color: color-opacity(white, 0.08);
    width: calc(100% - 65px);
    height: 40px;

    &-icon {
      padding: 0 12px;
      color: white;
    }

    &-field {
      flex: 1;
      border: none;
      background-color: transparent;
      padding-right: 120;
      color: white;
      font-size: 16px;
      &:focus-visible {
        outline: none;
      }
      &::placeholder {
        color: white;
        font-size: 16px;
      }
    }

    &--active {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    & svg {
      color: white;
      font-size: 18px;
    }
    &--closed {
      svg {
        color: #ff6c5d;
      }
    }
  }
}
