@use '@/assets/styles/abstracts' as *;

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  @include breakpoint(xl) {
    display: none;
  }

  &__hamburger {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 14px;

    &-line {
      display: block;
      transition:
        transform 0.3s ease,
        opacity 0.3s ease,
        background-color 0.3s ease;
      background-color: white;
      width: 100%;
      height: 2px;
    }

    &--active &-line {
      background-color: #ff6c5d;

      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}
