@use '@/assets/styles/abstracts' as *;

.search-bar {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: auto;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    & svg {
      color: white;
      font-size: 18px;
    }

    &--closed {
      svg {
        color: #ff6c5d;
      }
    }
  }

  &__input {
    display: none;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    border: white 1px solid;
    border-radius: 8px;
    background-color: color-opacity(white, 0.08);
    width: calc(100% - 65px);
    height: 40px;

    &-icon {
      padding: 0 12px;
      color: white;
    }

    &-field {
      flex: 1;
      border: none;
      background-color: transparent;
      padding-right: 120px;
      color: white;
      font-size: 16px;

      &:focus-visible {
        outline: none;
      }

      &::placeholder {
        color: white;
        font-size: 16px;
      }
    }

    &--active {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--fixed {
      background-color: color-opacity(white, 0.04);
    }
  }
}
