@use '@/assets/styles/abstracts' as *;

.search-bar {
  display: flex;
  align-items: center;
  margin-left: auto;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    @include breakpoint(xl) {
      display: none;
    }

    & svg {
      color: white;
      font-size: 18px;
    }

    &--closed {
      svg {
        color: #ff6c5d;
      }
    }
  }

  &__icon {
    color: white;
  }

  &__input {
    display: none;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    width: calc(100% - 65px);
    height: 40px;

    @include breakpoint(xl) {
      display: block;
      position: relative;
      border: none;
      width: 300px;
    }

    &--fixed {
      background-color: color-opacity(white, 0.04);
    }

    &--active {
      display: block;
    }

    &-icon {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      color: white;
    }

    &-field {
      border: 1px solid white;
      border-radius: 8px;
      background-color: transparent;
      background-color: color-opacity(white, 0.08);
      padding-right: 12px;
      padding-left: 40px;
      width: 100%;
      height: 100%;
      color: white;
      font-size: 16px;

      @include breakpoint(xl) {
        border: 1px solid transparent;

        &:focus-within {
          border: 1px solid white;
        }
      }

      &:focus-visible {
        outline: none;
      }

      &::placeholder {
        color: white;
        font-size: 16px;
      }
    }
  }
}
