@use '@/assets/styles/abstracts' as *;

.nav {
  display: none;
  position: absolute;
  top: 68px;
  left: 6px;
  border-radius: 12px;
  background-color: #3b4987;
  padding: 16px;
  width: calc(100% - 12px);
  max-width: 328px;
  color: white;

  &--opened {
    display: block;
  }

  &__login {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    border-radius: 12px;
    background-color: #fff;
    padding: 8px 10px;
    color: black;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    text-wrap: nowrap;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 12px;
  }

  &__item {
    position: relative;
  }

  &__link {
    display: block;
    cursor: pointer;
    padding: 8px 0;
    color: white;
    font-weight: 500;
    font-size: 13px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-wrap: nowrap;
    -webkit-tap-highlight-color: transparent;
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    z-index: 10;
    border-radius: 8px;
    background-color: color-opacity(#000, 0.9);
    padding: 12px;

    &--active {
      display: block;
    }

    &--single-column {
      .nav__sublist {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &__sublist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;

    @include breakpoint(sm) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__sublink {
    display: block;
    border-radius: 6px;
    padding: 6px;
    max-width: 120px;
    font-weight: 500;
    font-size: 13px;
    text-wrap: nowrap;
    @include truncate(1);

    &:hover {
      background-color: color-opacity(#fff, 0.05);
      color: var(--primary-text);
    }
  }
}
