@use '@/assets/styles/abstracts' as *;

.search-bar {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-left: auto;

  @include breakpoint(xl) {
    margin-left: 0;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    @include breakpoint(xl) {
      display: none;
    }

    svg {
      color: var(--layout-foreground);
      font-size: 18px;
    }

    &--closed svg {
      color: var(--danger);
    }
  }

  &__icon {
    color: var(--layout-foreground);
  }

  &__input {
    display: none;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    z-index: 20;
    background-color: transparent;
    width: calc(100% - 65px);
    height: 40px;

    @include breakpoint(xl) {
      display: flex;
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      z-index: auto;
      width: 300px;
    }

    &--fixed {
      background-color: color-opacity(white, 0.04);

      @include breakpoint(xl) {
        background-color: transparent;
      }
    }

    &--active {
      display: block;

      @include breakpoint(xl) {
        display: flex;
      }
    }

    &-icon {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      color: var(--layout-foreground);
    }

    &-field {
      border: 1px solid var(--layout-foreground);
      border-radius: 8px;
      background-color: color-opacity(#fff, 0.04);
      padding-right: 12px;
      padding-left: 40px;
      width: 100%;
      height: 100%;
      color: var(--layout-foreground);
      font-size: 14px;

      @include breakpoint(xl) {
        border-color: transparent;

        &:focus-within {
          border-color: white;
        }
      }

      &:focus-visible {
        outline: none;
      }

      &::placeholder {
        color: var(--layout-foreground);
        font-size: 14px;
      }
    }
  }
}
