@use 'sass:map';

$grid-breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px,
);

@mixin breakpoint($key) {
  $breakpoint: map.get($grid-breakpoints, $key);
  @if $breakpoint {
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @error "Breakpoint #{$key} not found in $grid-breakpoints";
  }
}
