@use 'base';

body {
  background-color: white;
  color: black;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
