@use 'base';

body {
  background-color: var(--background);
  color: var(--foreground);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HTML */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Body */
body {
  background-color: var(--primary-background);
  min-height: 100vh;
  color: var(--primary-foreground);
  line-height: 1.5;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

/* Media elements */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

/* Lists */
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Forms */
input,
button,
textarea,
select {
  color: inherit;
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
