@use '@/assets/styles/abstracts' as *;

:global {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-wrapper {
    height: 100%;
  }

  .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .swiper-slide:not(.swiper-slide-active) {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  .swiper-slide-active {
    visibility: visible;
    opacity: 1;
  }
}

// Badges
.slider {
  &__badges {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    margin: 1rem 0;
  }

  &__badge {
    background-color: color-opacity(#fff, 0.1);
  }

  &__certification-badge {
    background-color: white;
    color: black;
  }

  &__genre-badge {
    border: none;
    background-color: color-opacity(#fff, 0.06);
  }

  &__imdb-badge {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    border-color: var(--primary-foreground);
    line-height: 1;

    & span:first-child {
      color: var(--primary-foreground);
      font-size: 0.9rem;

      @include breakpoint(sm) {
        font-size: 1.1rem;
      }

      @include breakpoint(md) {
        font-size: 1.2rem;
      }
    }
  }
}

.slider {
  &__film-logo {
    display: none;
    @include breakpoint(xl) {
      display: block;
      height: 8rem;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;

    @include breakpoint(lg) {
      height: 80vh;
    }
  }
}

.slider__container {
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 1;
    background-image: url(/images/dot.png);
    background-repeat: repeat;
    content: none;

    @include breakpoint(md) {
      content: '';
    }
  }
}
